@page
@model ECommerce.WebApp.Pages.BasketModel
@{
    ViewData["Title"] = "购物车";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container">

    @if (Model.Products.Count == 0)
    {
        <br />
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">购物车是空的</h4>
            <p>购物车目前是空的</p>
        </div>
    }

    @if (!Model.HasError && Model.Products.Count > 0)
    {
        <br />
        <h1>我的购物车</h1>

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">名称</th>
                    <th scope="col">数量</th>
                    <th scope="col">价格</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Products)
                {
                    <tr>
                        <th scope="row">@item.ProductId</th>
                        <td>@item.Name</td>
                        <td>@item.Quantity</td>
                        <td>@string.Format("￥{0}", item.Price)</td>
                        <td>
                            <button class="btn btn-outline-danger removeButton" value="@item.ToJson()">
                                移除
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <br />

        <button class="btn btn-outline-success purchaseButton">
            结算
        </button>
    }

    <p class="small text-center">处理请求的微服务：<mark>@Model.HostName</mark>，服务 Id:<mark>@Model.ServiceId</mark></p>

    <script src="~/js/Basket.js" defer></script>

</div>
